<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tecapps.AnimeC"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application

        android:name="com.tecapps.AnimeC.MyApplication"
        android:allowBackup="true"
        tools:replace="allowBackup"
        android:icon="@mipmap/app_icon"
        android:roundIcon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tecapps.AnimeC.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tecapps.AnimeC.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tecapps.AnimeC.LatestListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tecapps.AnimeC.AlltListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tecapps.AnimeC.CategoryListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tecapps.AnimeC.VideoPlay"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.tecapps.AnimeC.SearchListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tecapps.AnimeC.AboutUsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tecapps.AnimeC.Privacy_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tecapps.AnimeC.SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.tecapps.AnimeC.SignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.tecapps.AnimeC.ForgotPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.tecapps.AnimeC.ProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
          />
        <activity
            android:name="com.tecapps.AnimeC.ProfileEditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />
        <!-- server -->
        <activity
            android:name="com.example.play.OpenYouTubePlayerActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black" />

        <!-- youtube play activity -->
        <activity
            android:name="com.example.youtube.YoutubePlay"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!-- Daily Motion Play -->
        <activity
            android:name="com.example.dailymotion.DailyMotionPlay"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- vimeo play activity -->
        <activity
            android:name="com.example.vimeo.Vimeo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- analytic -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <service
            android:name="com.example.util.NotificationExtenderExample"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
     </application>

</manifest>